<a href="https://colab.research.google.com/github/Kensuzuki95/Corporate_AI_Ethics_Guideline_Analysis/blob/main/Result_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [263]:
import numpy as np 
import pandas as pd 
import requests
import io

In [264]:
# Downloading the result data/file from your GitHub account

url_1 = ("https://raw.githubusercontent.com/Kensuzuki95/Corporate_AI_Ethics_Guideline_Analysis/main/Result_Data/Similarity_Analysis_Results.csv")
download = requests.get(url_1).content

results = pd.read_csv(io.StringIO(download.decode('utf-8')))

results.info()
#results.head()
results.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  49 non-null     object
 1   Principle_1   49 non-null     float64
 2   Principle_2   49 non-null     float64
 3   Principle_3   49 non-null     float64
 4   Principle_4   49 non-null     float64
 5   Principle_5   49 non-null     float64
 6   Principle_6   49 non-null     float64
 7   Principle_7   49 non-null     float64
 8   Principle_8   49 non-null     float64
 9   Principle_9   49 non-null     float64
 10  Principle_10  49 non-null     float64
dtypes: float64(10), object(1)
memory usage: 4.3+ KB

,Principle_1,Principle_2,Principle_3,Principle_4,Principle_5,Principle_6,Principle_7,Principle_8,Principle_9,Principle_10
count,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000
mean,0.649370,0.640144,0.626346,0.561233,0.699394,0.628316,0.664421,0.665680,0.674071,0.617522
std,0.090646,0.098038,0.086669,0.087055,0.100825,0.098115,0.088953,0.092453,0.097592,0.083276
min,0.189644,0.173998,0.206271,0.200899,0.192601,0.148028,0.242611,0.220619,0.163550,0.224386
25%,0.602693,0.610129,0.580661,0.513936,0.658497,0.579897,0.623684,0.612065,0.627909,0.584206
50%,0.668631,0.663375,0.633357,0.569225,0.725509,0.654673,0.686528,0.695821,0.694224,0.634648
75%,0.702077,0.702382,0.669105,0.619037,0.762905,0.693852,0.713656,0.723510,0.736288,0.666494
max,0.771343,0.770181,0.754461,0.697254,0.813623,0.751009,0.823704,0.801979,0.799724,0.744391

In [265]:
# Create a column showing column name with Maximum and Minimum values of each row
results['Max_Principle'] = results.iloc[:, 1:11].idxmax(axis=1)
results['Min_Principle'] = results.iloc[:, 1:11].idxmin(axis=1)

# Create a column showing the Maximum and Minimum value of each rows
results['Max_Val'] = results.iloc[:, 1:11].max(axis=1)
results['Min_Val'] = results.iloc[:, 1:11].min(axis=1)
results.head()

,Company Name,Principle_1,Principle_2,Principle_3,Principle_4,Principle_5,Principle_6,Principle_7,Principle_8,Principle_9,Principle_10,Max_Principle,Min_Principle,Max_Val,Min_Val
0,Accenture,0.717751,0.702382,0.622116,0.619037,0.695432,0.667470,0.679528,0.698220,0.679119,0.609393,Principle_1,Principle_10,0.717751,0.609393
1,Adobe,0.566864,0.510722,0.576407,0.499825,0.604011,0.532677,0.571322,0.575822,0.624023,0.515835,Principle_9,Principle_4,0.624023,0.499825
2,Alphabet,0.630594,0.664262,0.607258,0.495027,0.723127,0.607318,0.684914,0.612065,0.668277,0.591854,Principle_5,Principle_4,0.723127,0.495027
3,Amazon,0.596675,0.681675,0.566090,0.501614,0.677715,0.510401,0.623684,0.591917,0.627909,0.596835,Principle_2,Principle_4,0.681675,0.501614
4,Atos,0.709803,0.718689,0.629426,0.643502,0.736860,0.654673,0.691443,0.722562,0.692313,0.635033,Principle_5,Principle_3,0.736860,0.629426

In [266]:
results['Max-Min'] = results.iloc[:, 1:11].max(axis=1) - results.iloc[:, 1:11].min(axis=1)
results['Avg'] = results.iloc[:, 1:11].mean(axis=1)
results.head()

,Company Name,Principle_1,Principle_2,Principle_3,Principle_4,Principle_5,Principle_6,Principle_7,Principle_8,Principle_9,Principle_10,Max_Principle,Min_Principle,Max_Val,Min_Val,Max-Min,Avg
0,Accenture,0.717751,0.702382,0.622116,0.619037,0.695432,0.667470,0.679528,0.698220,0.679119,0.609393,Principle_1,Principle_10,0.717751,0.609393,0.108357,0.669045
1,Adobe,0.566864,0.510722,0.576407,0.499825,0.604011,0.532677,0.571322,0.575822,0.624023,0.515835,Principle_9,Principle_4,0.624023,0.499825,0.124198,0.557751
2,Alphabet,0.630594,0.664262,0.607258,0.495027,0.723127,0.607318,0.684914,0.612065,0.668277,0.591854,Principle_5,Principle_4,0.723127,0.495027,0.228101,0.628470
3,Amazon,0.596675,0.681675,0.566090,0.501614,0.677715,0.510401,0.623684,0.591917,0.627909,0.596835,Principle_2,Principle_4,0.681675,0.501614,0.180060,0.597452
4,Atos,0.709803,0.718689,0.629426,0.643502,0.736860,0.654673,0.691443,0.722562,0.692313,0.635033,Principle_5,Principle_3,0.736860,0.629426,0.107434,0.683430

In [270]:
analysis = results.iloc[:, [0,11,12,13,14,15,16]]
analysis

,Company Name,Max_Principle,Min_Principle,Max_Val,Min_Val,Max-Min,Avg
0,Accenture,Principle_1,Principle_10,0.717751,0.609393,0.108357,0.669045
1,Adobe,Principle_9,Principle_4,0.624023,0.499825,0.124198,0.557751
2,Alphabet,Principle_5,Principle_4,0.723127,0.495027,0.228101,0.628470
3,Amazon,Principle_2,Principle_4,0.681675,0.501614,0.180060,0.597452
4,Atos,Principle_5,Principle_3,0.736860,0.629426,0.107434,0.683430
5,Capgemini,Principle_5,Principle_4,0.762905,0.599696,0.163209,0.678140
6,Cisco,Principle_5,Principle_4,0.774475,0.499777,0.274697,0.680997
7,Facebook,Principle_5,Principle_4,0.762190,0.530688,0.231502,0.678543
8,FUJIFILM,Principle_9,Principle_2,0.613087,0.490608,0.122479,0.574399
9,Fujitsu Ltd.,Principle_3,Principle_2,0.675394,0.575830,0.099564,0.638141
10,Hewlett Packard Enterprise,Principle_5,Principle_4,0.764544,0.564124,0.200420,0.684519
11,HP,Principle_5,Principle_4,0.764544,0.564124,0.200420,0.684519
12,IBM,Principle_5,Principle_4,0.719767,0.534251,0.185516,0.651681
13,Infosys,Principle_7,Principle_4,0.741746,0.563749,0.177997,0.660480
14,Intel,Principle_9,Principle_10,0.703738,0.584206,0.119532,0.649497
15,Leidos,Principle_2,Principle_4,0.693280,0.409113,0.284167,0.536998
16,Microsoft,Principle_5,Principle_4,0.725509,0.604520,0.120988,0.673934
17,Motorola Solutions,Principle_2,Principle_4,0.657312,0.495625,0.161687,0.607518
18,NEC,Principle_5,Principle_4,0.808173,0.597305,0.210868,0.721087
19,Nokia,Principle_7,Principle_4,0.823704,0.684487,0.139217,0.764576
20,NXP Semiconductors,Principle_5,Principle_4,0.779863,0.605862,0.174001,0.703446
21,"OKI Electric Industry Co., Ltd.",Principle_5,Principle_2,0.729566,0.591368,0.138197,0.658139
22,Salesforce,Principle_5,Principle_4,0.790594,0.608757,0.181837,0.730829
23,Samsung Electronics,Principle_3,Principle_2,0.744148,0.601243,0.142904,0.694231
24,SAP,Principle_8,Principle_2,0.737997,0.637680,0.100318,0.686393
25,SONY,Principle_8,Principle_2,0.614254,0.497582,0.116671,0.563791
26,Tieto,Principle_9,Principle_4,0.759916,0.598960,0.160956,0.686535
27,Workday,Principle_5,Principle_4,0.655690,0.529001,0.126689,0.592313
28,DeepMind,Principle_9,Principle_4,0.799724,0.637182,0.162542,0.732396
29,Baidu,Principle_8,Principle_4,0.765703,0.654778,0.110925,0.707162
30,SenseTime,Principle_5,Principle_4,0.794930,0.513936,0.280994,0.666998
31,Babylon,Principle_6,Principle_4,0.641974,0.470574,0.171400,0.546228
32,DataRobot,Principle_2,Principle_4,0.712935,0.458121,0.254814,0.581155
33,Argo AI,Principle_7,Principle_6,0.242611,0.148028,0.094583,0.196261
34,BMW Group,Principle_5,Principle_4,0.718516,0.579882,0.138634,0.661965
35,Adarga,Principle_8,Principle_4,0.726058,0.566411,0.159647,0.670853
36,Dataiku,Principle_8,Principle_2,0.625957,0.527740,0.098217,0.564621
37,AT&T,Principle_7,Principle_4,0.749122,0.605287,0.143835,0.687717
38,Deutsche Telekom,Principle_6,Principle_10,0.738255,0.596026,0.142229,0.676546
39,Telefónica,Principle_5,Principle_4,0.736100,0.617901,0.118199,0.673983
40,Vodafone,Principle_5,Principle_4,0.623209,0.485305,0.137904,0.561295
41,Nippon Telegraph and Telephone\r\n,Principle_5,Principle_6,0.764382,0.555268,0.209115,0.674580
42,Softbank Group,Principle_5,Principle_4,0.774820,0.640760,0.134060,0.704172
43,Cohere,Principle_2,Principle_4,0.639568,0.414112,0.225456,0.553264
44,Moveworks,Principle_5,Principle_4,0.702250,0.432266,0.269984,0.583230
45,Boston Consulting Group (Gamma),Principle_5,Principle_4,0.658497,0.541923,0.116574,0.603997
46,Deloitte,Principle_5,Principle_4,0.794720,0.564830,0.229890,0.703162
47,Price waterhouse Coopers (PwC),Principle_1,Principle_10,0.750529,0.627189,0.123340,0.705134
48,Deeper Insights,Principle_9,Principle_4,0.759056,0.636081,0.122975,0.698264

In [271]:
analysis.describe()

         Max_Val    Min_Val    Max-Min        Avg
count  49.000000  49.000000  49.000000  49.000000
mean    0.714383   0.550560   0.163822   0.642650
std     0.088412   0.087278   0.052974   0.086299
min     0.242611   0.148028   0.094583   0.196261
25%     0.681675   0.499825   0.122479   0.597452
50%     0.736100   0.564830   0.143835   0.670853
75%     0.764382   0.605287   0.200420   0.686535
max     0.823704   0.684487   0.284167   0.764576

In [260]:
max = analysis['Max_Principle'].value_counts().to_frame()
max.reset_index(inplace=True)
max = max.rename(columns = {'index':'Principle'})
#max

In [261]:
min = analysis['Min_Principle'].value_counts().to_frame()
min.reset_index(inplace=True)
min = min.rename(columns = {'index':'Principle'})
#min

In [246]:
principles = ['Principle_1', 'Principle_2', 'Principle_3',
       'Principle_4', 'Principle_5', 'Principle_6', 'Principle_7',
       'Principle_8', 'Principle_9', 'Principle_10']
max_min = pd.DataFrame(principles, columns = ['Principle'])
max_min = pd.merge(max_min, max, on = 'Principle', how ='outer')
max_min = pd.merge(max_min, min, on = 'Principle', how ='outer')
max_min = max_min.fillna(0)
max_min.iloc[:,1:3] = max_min.iloc[:,1:3].astype(int)
max_min

      Principle  Max_Principle  Min_Principle
0   Principle_1              2              0
1   Principle_2              5              7
2   Principle_3              2              1
3   Principle_4              0             35
4   Principle_5             23              0
5   Principle_6              2              2
6   Principle_7              4              0
7   Principle_8              5              0
8   Principle_9              6              0
9  Principle_10              0              4

In [247]:
# All Ranking
ranks = [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
ranking = pd.DataFrame(ranks, columns = ['Ranking'])
#ranking

In [248]:
def ranking_frequency(num):
  colname = ['Principle_'+ str(num)]
  pnum = rank[colname].value_counts().to_frame()
  pnum.reset_index(inplace=True)
  pnum = pnum.rename(columns = {colname[0]:'Ranking', 0:colname[0]})
  result = pd.merge(ranking, pnum, on = 'Ranking', how ='outer')
  return result

In [249]:
rank1 = ranking_frequency(1)
rank2 = ranking_frequency(2)
rank3 = ranking_frequency(3)
rank4 = ranking_frequency(4)
rank5 = ranking_frequency(5)
rank6 = ranking_frequency(6)
rank7 = ranking_frequency(7)
rank8 = ranking_frequency(8)
rank9 = ranking_frequency(9)
rank10 = ranking_frequency(10)

In [250]:
from functools import reduce
#define list of DataFrames
dfs = [rank1, rank2, rank3, rank4, rank5, rank6, rank7, rank8, rank9, rank10]

#merge all DataFrames into one
rank_all = reduce(lambda  left,right: pd.merge(left, right, on = ['Ranking'], how='outer'), dfs).fillna('0').astype(int)
rank_all

,Ranking,Principle_1,Principle_2,Principle_3,Principle_4,Principle_5,Principle_6,Principle_7,Principle_8,Principle_9,Principle_10
0,1,2,5,2,0,23,2,4,5,6,0
1,2,2,4,2,0,14,0,8,7,10,2
2,3,5,5,4,0,5,0,9,10,11,0
3,4,7,5,3,0,4,2,5,10,10,3
4,5,12,2,3,2,1,9,6,4,9,1
5,6,5,3,3,0,2,8,11,8,2,7
6,7,12,2,10,2,0,11,3,4,0,5
7,8,3,6,9,6,0,6,1,0,0,18
8,9,1,10,12,4,0,9,2,1,1,9
9,10,0,7,1,35,0,2,0,0,0,4

In [252]:
rank_all['Max_Principle'] = rank_all.iloc[:, 1:11].idxmax(axis=1)
rank_all['Min_Principle'] = rank_all.iloc[:, 1:11].idxmin(axis=1)
rank_all

,Ranking,Principle_1,Principle_2,Principle_3,Principle_4,Principle_5,Principle_6,Principle_7,Principle_8,Principle_9,Principle_10,Max_Principle,Min_Principle
0,1,2,5,2,0,23,2,4,5,6,0,Principle_5,Principle_4
1,2,2,4,2,0,14,0,8,7,10,2,Principle_5,Principle_4
2,3,5,5,4,0,5,0,9,10,11,0,Principle_9,Principle_4
3,4,7,5,3,0,4,2,5,10,10,3,Principle_8,Principle_4
4,5,12,2,3,2,1,9,6,4,9,1,Principle_1,Principle_5
5,6,5,3,3,0,2,8,11,8,2,7,Principle_7,Principle_4
6,7,12,2,10,2,0,11,3,4,0,5,Principle_1,Principle_5
7,8,3,6,9,6,0,6,1,0,0,18,Principle_10,Principle_5
8,9,1,10,12,4,0,9,2,1,1,9,Principle_3,Principle_5
9,10,0,7,1,35,0,2,0,0,0,4,Principle_4,Principle_1